{% macro icon(entry) -%}
  <span class="icon"
    {%- if entry.calendar.colour %} style="color: {{ entry.calendar.colour }}"{% endif -%}
    {%- if entry.calendar.label %} title="{{ entry.calendar.label }}"{% endif -%}
  >{% if entry.all_day %}&#9632;{% else %}&#9670;{% endif %}</span>
{%- endmacro %}
