{% extends "_base.j2" %}
{% from "_macros.j2" import icon, times %}

{% block title %}{{ selected.strftime("%A %d %B %Y") }}{% endblock %}

{% set next = selected | delta(days=1) %}
{% set prev = selected | delta(days=-1) %}

{% block nav %}
  <li><a href="{{ url("day", year=prev.year, month=prev.month, day=prev.day) }}">&larr;</a></li>
  <li>{{ selected.strftime("%Y-%m-%d") }}</li>
  <li><a href="{{ url("day", year=next.year, month=next.month, day=next.day) }}">&rarr;</a></li>
{% endblock %}

{% block content %}
  <h2>{{ selected.strftime("%A %d %B %Y") }}</h2>
  <ul class="agenda">
    {% for entry in entries if entry.all_day %}
      <li>
        {{ icon(entry) }}
        <a href="{{ url("entry", cal=entry.calendar.dirname, entry=entry.uid) }}">{{ entry.summary }}</a>
      </li>
    {% endfor %}
  </ul>
  <ul class="graph multiline">
    {% for entry in entries if not entry.all_day %}
      {% set start, end = entry.times(selected.date()) %}
      {% set start_pc = start | day_percent | default(0, true) %}
      {% set end_pc = end | day_percent | default(100, true) %}
      <li style="top: {{ loop.index0 * 2 }}rem; left: {{ start_pc }}%; width: {{ end_pc - start_pc }}%">
        <div class="bar"{% if entry.calendar.colour %} style="border-bottom-color: {{ entry.calendar.colour }}"{% endif %}></div>
        <span><a href="{{ url("entry", cal=entry.calendar.dirname, entry=entry.uid) }}">{{ entry.summary }}</a></span>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
