{% extends "_base.j2" %}

{% block title %}{{ selected.strftime("%B %Y") }}{% endblock %}

{% set next = selected | delta(months=1) %}
{% set prev = selected | delta(months=-1) %}

{% block nav %}
  <li><a href="{{ url("month", year=prev.year, month=prev.month) }}">&larr;</a></li>
  <li>{{ selected.strftime("%Y-%m") }}</li>
  <li><a href="{{ url("month", year=next.year, month=next.month) }}">&rarr;</a></li>
{% endblock %}

{% block content %}
  <div class="month">
    {% for week in weeks %}
      {% for date in week %}
        <div class="day{% if date == now.date() %} today{% elif date.month == selected.month %} current{% endif %}">
          <div class="date"><a href="{{ url("day", year=date.year, month=date.month, day=date.day) }}">{{ date.day }}</a></div>
          <ul class="entries">
            {% for entry in entries[date] %}
              <li>
                <span class="icon"{% if entry.calendar.colour %} style="color: {{ entry.calendar.colour }}"{% endif %}>{% if entry.all_day %}&#9632;{% else %}&#9670;{% endif %}</span>
                {% if not entry.all_day %}
                  <span class="time">
                    {%- for time in entry.times -%}
                      {{- time.strftime("%H:%M") -}}
                      {%- if not loop.last %}&ndash;{% endif -%}
                    {%- endfor -%}
                  </span>
                {% endif %}
                {{ entry.summary }}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
{% endblock %}
