{% extends "_base.j2" %}
{% from "_macros.j2" import icon, times %}

{% block title %}{{ selected.strftime("%B %Y") }}{% endblock %}

{% set next = selected | delta(months=1) %}
{% set prev = selected | delta(months=-1) %}

{% block nav %}
  <li><a href="{{ url("month", year=prev.year, month=prev.month) }}">&larr;</a></li>
  <li>{{ selected.strftime("%Y-%m") }}</li>
  <li><a href="{{ url("month", year=next.year, month=next.month) }}">&rarr;</a></li>
{% endblock %}

{% block content %}
  <div class="month">
    {% for week in weeks %}
      {% for date in week %}
        <div class="day{% if date == now.date() %} today{% elif date.month == selected.month %} current{% endif %}">
          <div class="date"><a href="{{ url("day", year=date.year, month=date.month, day=date.day) }}">{{ date.day }}</a></div>
          <ul class="agenda">
            {% for entry in entries[date] %}
              <li>
                {{ icon(entry) }}
                {{ times(entry, date) }}
                {{ entry.summary }}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
{% endblock %}
